body {
  font-family: 'Raleway', sans-serif;
  background-image: url('../assets/stacked-peaks-haikei.svg');
  background-size: cover;
  color: #ffffff;
}

.nav-item a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 20px;
  list-style-type: none;
  
}

.nav-item a:hover {
  color: white;
  transform: scale(1.1);
  text-shadow: none;
  background-color: #00d18b;
  border-radius: 20px;
  transition: ease-in-out 0.3s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

}

.navbar {
  background-color: #01AC27;
  opacity: 80%;
}

.navbar-brand {
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
}

.navbar-toggler {
  background-color: #fdfdfd;
  font-weight: bold;
}

.dropdown {
  margin-right: 20px;
  margin-left: 20px;
}

.dropdown-items {
  text-align: center;
}

.dropdown-item {
  color: rgb(0, 0, 0);
}

li .dropdown-item {
  color: #000;
}

.buttons {
  margin-right: 20px;
}

.container {
  padding-top: 5%;

}

h1,h2{
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-shadow: 2px 2px 4px #000000;
  color: #ffffff;
}

 p {
  font-family: "poppins",sans-serif;
  font-weight: 300;
  font-style: normal;
}

.title-icon-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Jarak antara teks dan ikon */
}

.title-icon-container h2 {
  margin: 0; /* Hilangkan margin default untuk pengaturan yang lebih rapih */
}

.icon-inline {
  width: 300px; /* Atur ukuran ikon sesuai kebutuhan */
  height: auto; /* Pertahankan rasio aspek ikon */
}

/* CSS lain seperti sebelumnya */
.article-content {
display: none;
opacity: 0;
max-height: 0;
overflow: hidden;
transition: opacity 0.5s ease, max-height 0.5s ease;
}

.article-content.show {
display: block;
opacity: 1;
max-height: 1000px; /* Set a high value to accommodate content */
}

.read-more-btn {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #00ff88;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.3s;
  border-color: #006b39;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.read-more-btn:hover {
background-color: #02472a;
border-color: #02472a;
}

.read-more-btn .read-more-icon {
margin-left: 10px;
transition: transform 0.3s;
}

.read-more-btn.btn-secondary .read-more-icon {
transform: rotate(180deg);
}


.video-section {
  margin-top: 40px;
  text-align: center;
}

.video-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 5%;
}

.video-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  max-width: 800px;
}

.video-player {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.video-details {
  max-width: 400px;
  text-align: left;
}

.video-details h3 {
  margin: 0;
  font-size: 1.5em;
}

.video-details p {
  margin-top: 10px;
  font-size: 1em;
  color: #ffffff;
}

footer {
  width: 100%;
  position: absolute;
  background-color: #004e11;
  text-align: center;
  margin: auto;
  left: 0;
}

.social-media li {
  list-style-type: none;
  font-style: normal;
}

.other-menu li {
  list-style-type: none;
  font-style: normal;
}

.social-media li a {
  color: rgb(122, 122, 122);
  list-style-type: none;
}

.other-menu li a {
  color: rgb(122, 122, 122);
  list-style-type: none;
}

.social-media li a:hover {
  color: rgb(255, 255, 255);
  font-weight: 300;
  list-style-type: none;
}

.other-menu li a:hover {
  color: rgb(255, 255, 255);
  font-weight: 300;
  list-style-type: none;
}