body.light-theme {
    background-color: #7E30E1;
    color: #000;
    font-family: 'Raleway', sans-serif;
}

body.light-theme .navbar, body.light-theme footer {
    background-color: #ffffff;
    color: #000;
}

body.light-theme .navbar .nav-link, body.light-theme footer {
    color: #000;
}

body.light-theme .content {
    background-color: #ffffff;
    color: #000;
}

.d-none {
    display: none !important;
}

footer {
    background-color: #100035;
    width: 100%;
    padding-top: 0;
    left: 0;
    position: absolute;
    text-align: center;
    margin: auto;
    font-style: normal;
  }

.social-media, .other-menu {
    list-style-type: none;
}


