body {
    background-image: url('../assets/Bg2.svg');
    background-size: cover;
    color: white;
  }
  
  .nav-item a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 20px;
    list-style-type: none;
  }
  
  h1{
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 4px #1f1f1fc0;
  }
  
  h2,
  h3 {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  
  p {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15pt;
  }
  
  .nav-item a:hover {
    color: white;
    transform: scale(1.1);
    text-shadow: none;
    background-color: #d1ab00;
    border-radius: 20px;
    transition: ease-in-out 0.3s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  
  }
  
  .navbar {
    background-color: #232323;
  }
  
  .navbar-brand {
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-toggler {
    background-color: #fdfdfd;
    font-weight: bold;
  }
  
  .dropdown {
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .dropdown-items {
    text-align: center;
  }
  
  .dropdown-item {
    color: rgb(0, 0, 0);
  }
  
  li .dropdown-item {
    color: #000;
  }
  
  .buttons {
    margin-right: 20px;
  }
    
  
  /* Container styles */
  .container {
    padding-top: 5%;
  }
  
  /* Dropdown styles */
  .dropdown-toggle {
    cursor: pointer;
    color: #6c757d;
  }
  
  .dropdown-menu {
    background-color: #232323;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-item {
    color: #ffffff;
    transition: background-color 0.3s;
  }
  
  .dropdown-item:hover {
    background-color: #6c757d;
  }
  
  /* Speech result container styles */
  #speechResultContainer {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #42200c;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    padding: 10px;
  }
  
  /* Speech result text styles */
  .speech-result {
    margin: 0;
    font-size: 1.2em;
    color: #ffffff;
  }
  
  /* Button styles */
  #startSpeechRecognition {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform 0.3s;
    position: absolute;
    bottom: -25px; /* Adjust the value based on icon height to position it correctly */
    left: 50%;
    transform: translateX(-50%);
  }
  
  #startSpeechRecognition img {
    width: 70px; /* Adjust size as needed */
    height: auto;
  }
  
  /* Button hover effect */
  #startSpeechRecognition:hover {
    transform: translateX(-50%) scale(1.2);
  }
  
  /* Icon styles */
  .transkrip-icon img {
    width: 200px;
    height: auto;
  }
  
  /* Styles for buttons */
  .btn-option {
    margin: 5px;
    background-color: #5e3300; /* Dark orange color */
    color: #ffffff;
    border: none;
    transition: background-color 0.3s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  
  .btn-option:hover {
    background-color: #ffa600;
  }
  
  .card-body {
    background-color: #ffbf49;
  }
  
  
  footer {
    width: 100%;
    background-color: #4b4b4b;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position:absolute;
    left: 0;  
  }
  
  .footer .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
  }
  
  .footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align the content horizontally */
    align-items: center; /* Center align the content vertically */
  }
  
  .footer hr {
    border: 1px solid #777;
    width: 100%;
    margin: 10px 0;
  }
  
  .footer ul {
    padding: 0;
    margin: 0;
  }
  
  .footer li {
    list-style: none;
    margin: 5px 0;
  }
  
  .footer a {
    color: rgb(122, 122, 122);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .footer a:hover {
    color: #fff;
    font-weight: 300;
  }
  
  /* Social Media Icons */
  .footer .social-media,
  .footer .other-menu {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the content vertically */
  }
  
  .footer .social-media li a,
  .footer .other-menu li a {
    display: flex;
    align-items: center;
  }
  
  .footer .social-media li a i {
    margin-right: 8px;
    font-size: 18px;
  }
  
  /* Logo */
  .footer-logo {
    max-width: 200px;
    margin: auto;
    display: block;
  }
  
  /* Copyright */
  .footer .logo-container p {
    margin-top: 10px;
    font-size: 14px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .footer .row {
        flex-direction: column;
        align-items: center;
    }
  
    .footer-logo {
        margin-bottom: 10px;
    }
  
    .footer .logo-container p {
        margin-bottom: 20px;
    }
  }
  
  