body {
    background-color: #512da8;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.nav-item a {
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 20px;
    list-style-type: none;
  }
  
  .nav-item a:hover {
    color: white;
    transform: scale(1.1);
    text-shadow: none;
    background-color: #006eff;
    border-radius: 20px;
    transition: ease-in-out 0.3s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  
  .navbar {
    background-color: #512da8;
  }
  
  .navbar-brand {
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-toggler {
    background-color: #323A43;
    font-weight: bold;
  }
  
  .dropdown {
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .dropdown-items {
    text-align: center;
  }
  
  .dropdown-item {
    color: rgb(0, 0, 0);
  }
  
  li .dropdown-item {
    color: #000;
  }
  
  .buttons {
    margin-right: 20px;
  }
  

#speechResult, #signTextResult {
    font-size: 1.25em;
    color: #ffffff;
}

#signVisual {
    width: 100%;
    height: 200px;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffffff;
}

.card-title {
    font-size: 1.5em;
}

.card-text {
    font-size: 1.1em;
}

#speechResult,
#signTextResult {
    font-size: 1.25em;
    color: #ffffff;
}

#signVisual {
    width: 100%;
    height: 200px;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffffff;
}

.card-title {
    font-size: 1.5em;
}

.card-text {
    font-size: 1.1em;
}

.container {
    padding-top: 5%;
}

/* Custom styles for the speech result container */
#speechResultContainer {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #444444;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    height: 200px;
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/* Custom styles for the recognized speech text */
.speech-result {
    margin: 0;
    font-size: 1.2em;
    color: #ffffff;
}

/* Button styles */

.btn-primary:hover {
    scale: 2s;
}

footer {
    width: 100%;
    position: absolute;
    background-color: #100035;
    text-align: center;
    margin: auto;
}

.social-media li {
    list-style-type: none;
    font-style: normal;
  }

.other-menu li {
    list-style-type: none;
    font-style: normal;
}

.social-media li a {
    color: rgb(122, 122, 122);
    list-style-type: none;
  }
  
  .other-menu li a {
    color: rgb(122, 122, 122);
    list-style-type: none;
  }
  
  .social-media li a:hover {
    color: rgb(255, 255, 255);
    font-weight: 300;
    list-style-type: none;
  }
  
  .other-menu li a:hover {
    color: rgb(255, 255, 255);
    font-weight: 300;
    list-style-type: none;
  }