* {
  box-sizing: border-box;
  margin: 0;
  padding: o;
}


h1, h2, h3{
  color: rgb(255, 255, 255);
}

a {
  font-family: "kanit", sans-serif;
}

p {
  color: rgb(255, 255, 255);
}

body {
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; /* Position the image at the top center */
  height: 20px;
  display: flex;
  align-items: flex-start; /* Align content at the top */
  justify-content: center;
  text-align: center;
  color: white;
  background-image: url('../assets/wave.svg');
}


header {
  background-color: rgb(24, 24, 24);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.containers{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.containers p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.containers span{
    font-size: 12px;
}

.containers a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.containers button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.containers button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.containers form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.containers input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.containers.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.containers.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.containers.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.containers.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.containers.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.containers.active .toggle-right{
    transform: translateX(200%);
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.popup-container {
    position: relative;
    width: auto;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1001;
    
}

/* Menambahkan transisi animasi untuk popup */
.popup-container.active {
    display: flex;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}


ul {
  list-style-type: none;
  padding-left: 0;
}

.slide-in {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 2000;
  padding: 20px;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}

.slide-in.show {
  transform: translateX(0);
}

.dropdown-menu.bg-dark {
  background-color: #343a40; /* Warna latar belakang dropdown */
}

.dropdown-menu.bg-dark .dropdown-item {
  color: #ffffff; /* Warna teks putih */
}

.dropdown-menu.bg-dark .dropdown-item:hover,
.dropdown-menu.bg-dark .dropdown-item:focus {
  color: #ffffff; /* Warna teks putih saat hover */
  font-weight: 400;
}

.dropdown-menu.bg-dark .dropdown-divider {
  border-color: #6c757d; /* Warna divider */
}

.dropdown-menu-end {
  right: 0;
  left: auto;
}

.modal-body {
  background-color: #fff;
}

.nav-item a {
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 20px;
}

.nav-item a:hover {
  color: white;
  transform: scale(1.1);
  text-shadow: none;
  background-color: #006eff;
  border-radius: 20px;
  transition: ease-in-out 0.3s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.navbar {
  background-color: #512da8;
}

.navbar-brand {
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
}

.navbar-toggler {
  background-color: #323A43;
  font-weight: bold;
}

.dropdown {
  margin-right: 20px;
  margin-left: 20px;
}

.dropdown-items {
  text-align: center;
}

.dropdown-item {
  color: rgb(0, 0, 0);
}

li .dropdown-item{
  color: #000;
}

.buttons {
  margin-right: 20px;
}


.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

main .content {
  display: flex;
  align-items: center;
  margin-inline: auto;
  justify-content: center;
  position: relative;
  padding: 40px;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 10%;
}

main .content .content-description {
  width: 600px;
  transform: scale(1.1);
  transition: 3s;
  padding-right: 10%;
}

main .content .content-description .title {
  color: rgb(203, 231, 255);
  margin-block: 1rem;
  font-family: "Amaranth", sans-serif;
  text-shadow: #000;
  font-size: 3rem;
  transition: 3s;
}

main .content .content-description p {
  font-family: "Raleway", sans-serif;
  line-height: 1.7rem;
}

main .content .content-description button {
  padding: 0.8rem 2.5rem;
  border: 3px solid transparent;
  border-radius: 999px;
  margin-block-start: 1rem;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: #323A43;
  cursor: pointer;
}

main .content .content-description button:hover {
  border: 3px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

main .content .content-image {
  flex: 1;
  display: flex;
}

main .content .content-image img {
  width: 300px;
  min-width: 250px;
  margin: auto;
  transition: 3s;
}

.row {
  display: flex;
  margin: auto;
  padding-top: 10%;
}

.fitur-title h1{
  color: #000;
  padding-top: 40px;
}

.container-fitur {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px; /* Add padding to avoid cards touching the window edge */
  box-sizing: border-box;
}

.card-fitur {
  background-color: transparent;
  padding-top: 40px;
  border-radius: 8px;
  overflow: hidden;
  flex: 1;
  max-width: calc(25% - 20px); /* Adjust for 4 cards in a row with gap */
  text-align: center;
  transition: transform 0.2s;
}

.card-fitur a {
  display: block;
  width: 100%;
}

.card-fitur img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content-fitur {
  padding: 16px;
}

.card-fitur:hover {
  animation: bounce 0.5s;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

.article-content {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adjust gap between elements as needed */
}

.title-image-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust gap between title and image as needed */
}

.article-title {
  margin: 0;
}

.article-img {
  max-width: 150px; /* Adjust as needed */
  height: auto;
}

.article img {
  max-width: 100%;
  height: auto;
}


.more-button {
  display: flex;
  padding: 0.8rem 2.5rem;
  border: 3px solid transparent;
  border-radius: 999px;
  margin-block-start: 1rem;

  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: #323A43;
  font-style: normal;

  cursor: pointer;
  transition:  all 0.15s ease-in;
}

.more-button:hover {
  border: 3px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.social-media li a{
  color: rgb(122, 122, 122);
}

.other-menu li a{
  color: rgb(122, 122, 122);
}

.social-media li a:hover{
  color: rgb(255, 255, 255);
  font-weight: 300;
}

.other-menu li a:hover{
  color: rgb(255, 255, 255);
  font-weight: 300;
}

.container {
  width: max-content;
}

footer {
  background-color: #100035;
  width: 100%;
  padding-top: 0;
  left: 0;
  position: absolute;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-6 {
  flex: 1;
  min-width: 280px; /* Adjust to control minimum width of columns */
  margin: 10px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
  list-style-type: none;
}

ul li a {
  color: #ffffff;
  text-decoration: none;
  list-style-type: none;
}

.text-center {
  text-align: center;
  margin: 10px 0;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

/* Styling for the popup container */
#popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Styling for the individual popups */
.popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  min-width: 300px;
  max-width: 400px;
  text-align: center;
  display: none;
  position: relative;
  top: -50px;
  transition: top 0.5s;
}

.popup h4 {
  margin-top: 0;
}

.popup p {
  margin-bottom: 0;
}

/* Artikel */
.article-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.article-card {
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  max-width: 460px;
  width: 100%;
  margin: 0 10px;
  transition: transform 0.3s;
  box-shadow: #121212;
}

.article-card:hover {
  transform: scale(1.05);
}

.article-img {
  width: 100%;
  height: auto;
}

.article-content {
  color: #394669;
  padding: 15px;
}

.article-content p,h2{
  color: #394669;
}

.article-content h3 {
  color: #394669;
  margin-top: 0;
}

.read-more-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15
}

/* Modals */
.modal-content {
  border-radius: 8px;
}

.modal-header, .modal-footer {
  border: none;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Colorful Mode
.colorful-mode {
  background-color: #ffefd5;
}

.colorful-mode .navbar {
  background-color: #ff7f50;
}

.colorful-mode .navbar-brand img {
  filter: invert(1);
}

.colorful-mode .nav-link {
  color: #000 !important;
}

.colorful-mode .dropdown-menu {
  background-color: #ff7f50;
}

.colorful-mode .dropdown-item {
  color: #000 !important;
}

.colorful-mode .form-check-label {
  color: #000;
}

.colorful-mode .card {
  background-color: #fff0f5;
}

.colorful-mode .card-footer {
  background-color: #fffaf0;
}

.colorful-mode .btn-primary {
  background-color: #ff4500;
}

.colorful-mode .btn-primary:hover {
  background-color: #ff6347;
}

.colorful-mode footer {
  background-color: #ff7f50;
  color: #000;
} */

/* Dropdown Button */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-btn img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #343a40; /* Dark background */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-btn {
  background-color: #3e8e41;
}

/* Modal container */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px; 
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 300px;
  text-align: center;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

/* Buttons */
button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

/* Flash message */
.flash {
  padding: 10px;
  margin: 10px;
  border: 1px solid;
}

.flash.success {
  border-color: green;
  color: green;
}

.flash.danger {
  border-color: red;
  color: red;
}

@media (max-width: 991.98px) {
  .nav-item a {
      margin-right: 0;
      display: block;
      text-align: center;
      margin-bottom: 10px;
  }

  .buttons {
      text-align: center;
      margin-top: 10px;
  }

  .dropdown {
      margin: 10px 0;
      text-align: center;
  }
}

@media (max-width: 390px) {
  main .content {
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }

  main .content .content-description {
    width: 100%;
    transform: scale(1);
    text-align: center;
    padding: 0 10px;
  }

  main .content .content-description .title {
    font-size: 2rem;
  }

  main .content .content-description p {
    line-height: 1.5rem;
  }

  main .content .content-description button {
    padding: 0.6rem 2rem;
    font-size: 0.9rem;
  }

  main .content .content-image img {
    width: 100%;
    min-width: initial;
    padding: 0.6rem;
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .card-group {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%; /* Adjust to control the width of cards on smaller screens */
    max-width: 50px; /* Prevent cards from being too wide */
    margin: 20px 0;
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%;
    margin: 10px 0;
  }

  .card img {
    width: 100px; /* Adjust image size for smaller screens */
  }

  .card-title {
    font-size: 24px;
  }

  .card button {
    padding: 0.6rem 2rem;
    font-size: 0.9rem;
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .col-md-6 {
    width: 100%;
    margin: 10px 0;
  }

  .text-center {
    margin: 20px 0;
  }
}

@media (max-width: 576px) {
  .col-md-6 ul {
    text-align: center;
  }

  .text-center {
    font-size: 14px;
  }
}