body {
    background-color: #512da8;
    font-family: 'Raleway', sans-serif;
    color: white;
}

.navbar {
    margin-bottom: 20px;
}

#speechResult, #signTextResult {
    font-size: 1.25em;
    color: #ffffff;
}

#signVisual {
    width: 100%;
    height: 200px;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffffff;
}

.card-title {
    font-size: 1.5em;
}

.card-text {
    font-size: 1.1em;
}

.navbar {
    margin-bottom: 20px;
    background-color: #5A49A5;
}

#speechResult,
#signTextResult {
    font-size: 1.25em;
    color: #ffffff;
}

#signVisual {
    width: 100%;
    height: 200px;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffffff;
}

.card-title {
    font-size: 1.5em;
}

.card-text {
    font-size: 1.1em;
}

/* Custom styles for the speech result container */
#speechResultContainer {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #444444;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* Custom styles for the recognized speech text */
.speech-result {
    margin: 0;
    font-size: 1.2em;
    color: #ffffff;
}

/* Button styles */
.btn-primary {
    background-color: #7700ff;
    border-color: #8c00ff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.5);
}

footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #100035;
}
