<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <script src="https://www.google.com/recaptcha/api.js"></script>
    </head>
    <body>
        <div class="container">
            <center>
                <h3>Login</h3>
            </center>
            <div class="row main" style="padding-top:50px;">
                <div class="main-login main-center">
                    <h3>Silahkan Mengisi Form Login</h3>
                        <p>
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-primary">
                                <strong>{{ message }}</strong>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </p>
                    <form method="POST" action="{{ url_for('login') }}">
                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">Your Email</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="email-login" id="email" placeholder="Enter your Email" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Your Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="password-login" id="password" placeholder="Enter your Password" />
                                </div>
                            </div>
                        </div>
                        <div class="g-recaptcha" data-sitekey="{{ sitekey }}"></div> <br />
                        <input type="submit" value="submit" class="btn btn-primary btn-lg btn-block login-button">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
