<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
    <div class="form-container reset-password">
        <form id="reset-password-form" method="POST" action="{{ url_for('request_reset_password') }}">
            <h1>Lupa Password</h1>
            <input name="email-reset" type="email" placeholder="Email" required>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <p style="color: {{ 'red' if category == 'danger' else 'green' }};">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <button type="submit">Kirim Link Reset Password</button>
        </form>
    </div>
</body>
</html>
