<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lupa Password</title>
</head>
<body>
    <div class="form-container reset-password">
        <form id="forgot-password-form" method="POST" action="{{ url_for('forgot_password') }}">
            <h1>Lupa Password</h1>
            <input name="email" type="email" placeholder="Email" required>
            <button type="submit">Kirim Email Reset Password</button>
        </form>
    </div>
</body>
</html>
