<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>
        <script src="https://www.google.com/recaptcha/api.js"></script>
    </head>
    <body>
        <div class="container">
            <center>
                <h3>Ini Menu Registrasi</h3>
            </center>
            <div class="row main" style="padding-top:50px;">
                <div class="main-login main-center">
                    <h3>Silahkan Mengisi Form Registrasi</h3>
                    <p>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                    <div class="alert alert-primary">
                        <strong>{{ message }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    </p>
                    <form method="POST" action="{{ url_for('registrasi') }}">
                        <div class="form-group">
                            <label for="name" class="cols-sm-2 control-label">Your Name</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="name-registrasi" id="name" placeholder="Enter your Name" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="cols-sm-2 control-label">Your Email</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="email-registrasi" id="email" placeholder="Enter your Email" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Your Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="password-registrasi" id="password" placeholder="Enter your Password" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirm-password" class="cols-sm-2 control-label">Confirm Password</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="confirm-password-registrasi" id="confirm-password" placeholder="Confirm your Password" />
                                </div>
                            </div>
                        </div>
                        <div class="g-recaptcha" data-sitekey="{{ sitekey }}"></div> <br />
                        <input type="submit" value="submit" class="btn btn-primary btn-lg btn-block login-button">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
