<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resource.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="bg-dark text-white">
    <header>  
        <nav class="navbar navbar-expand-lg fixed-top" >
          <div class="container-fluid">
              <a class="navbar-brand" href="#">
                  <img src="{{ url_for('static', filename='assets/LogoTeks.png') }}" alt="Logo" style="width: 200px;">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                   <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                          <a class="nav-link" href="{{ url_for('index') }}">Beranda</a>
                        </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                              Lainnya
                          </a>
                          <ul class="dropdown-menu text-white">
                              <li><a class="dropdown-item" href="{{ url_for('sosmed') }}">Media Sosial</a></li>
                              <li><a class="dropdown-item" href="{{ url_for('resource') }}">Resource</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="{{ url_for('contact') }}">Contact</a></li>
                              <li><a class="dropdown-item" href="{{ url_for('faq') }}">FAQ</a></li>
                          </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">Tentang kami</a>
                      </li>
                  </ul>
                  <div class="d-flex justify-content-center ms-auto align-items-center">
                    <div class="form-check form-switch me-3">
                      <input class="form-check-input" type="checkbox" id="colorModeSwitch" onclick="handleSwitchChange()" {{ 'checked' if color_mode == 'on' else '' }}>
                      <label class="form-check-label" for="colorModeSwitch">Colorful theme</label>
                    </div>
                    {% if session.get('logged_in') %}
                      <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle ms-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                          {{ session['user_name'] }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <li><a class="dropdown-item" href="{{ url_for('dashboard') }}">Profil</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                        </ul>
                      </div>
                    {% else %}
                      <a href="{{ url_for('login') }}" class="btn btn-light ms-2">Masuk</a>
                    {% endif %}
                </div>
            </div>   
          </div>
        </nav>
      
      </header>

    <main class="container mt-5">
        <section class="content">
            <h1>Resources</h1>
            <button id="theme-toggle-btn" class="btn btn-secondary mb-3">Toggle Theme</button>
            <div class="thanks mb-4">
                <h2>Special Thanks</h2>
                <p>We would like to extend our gratitude to all the creators whose resources have been invaluable for this project.</p>
            </div>
            <div class="resources toggle-section mb-4" id="therapist-section">
                <h2><i class="fa fa-user-md"></i> Therapist and source</h2>
                <ul>
                    <li><a href="https://www.psychologytoday.com" target="_blank">Psychology Today</a></li>
                    <li><a href="https://www.inclusivetherapists.com" target="_blank">Inclusive Therapists</a></li>
                    <li><a href="URL" target="_blank">nama</a></li>
                    <li><a href="URL" target="_blank">nama</a></li>
                    <li><a href="URL" target="_blank">nama</a></li>
                </ul>
                <button class="btn btn-info toggle-btn" data-section="therapist-section">Toggle Therapist Section</button>
            </div>
            <div class="resources toggle-section mb-4" id="support-groups-section">
                <h2><i class="fa fa-hands-helping"></i> Support Groups</h2>
                <ul>
                    <li><a href="URL" target="_blank">nama</a></li>
                    <li><a href="URL" target="_blank">nama</a></li>
                    <li><a href="URL" target="_blank">nama</a></li>
                </ul>
                <button class="btn btn-info toggle-btn" data-section="support-groups-section">Toggle Support Groups Section</button>
            </div>
            <div class="resources toggle-section mb-4" id="crisis-resources-section">
                <h2><i class="fa fa-phone"></i> Crisis Resources</h2>
                <ul>
                    <li>Call nomor (nama)</li>
                    <li>Text nomor (nama)</li>
                    <li><a href="URL Chat" target="_blank">Chat nomor</a></li>
                </ul>
                <button class="btn btn-info toggle-btn" data-section="crisis-resources-section">Hubungi darurat</button>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="footer" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4 logo-container">
                    <img src="{{ url_for('static', filename='assets/LogoTeks.png') }}" alt="Logo" class="footer-logo">
                    <!-- Copyright -->
                    <p class="text-center">© 2024 Edukasi Website. All rights reserved.</p>
                </div>
                <div class="col-md-4">
                    <!-- Menu Sosial Media -->
                    <ul class="social-media">
                        <li><a href="https://facebook.com"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                        <li><a href="https://twitter.com"><i class="fab fa-twitter"></i>Twitter</a></li>
                        <li><a href="https://instagram.com"><i class="fab fa-instagram"></i> Instagram</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <!-- Menu Lainnya -->
                    <ul class="other-menu">
                        <li><a href="{{ url_for('faq') }}"><i class="fa-solid fa-question"></i>FAQ</a></li>
                        <li><a href="#"><i class="fa-regular fa-file-lines"></i>Kebijakan</a></li>
                        <li><a href="{{ url_for('about') }}"><i class="fa-solid fa-people-group"></i>Tentang Kami</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/resource.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>